appsecurity:
  allowedOrigin: "https://ninie-io.onrender.com/"

bot:
  prefix: "!"

server:
  ssl:
    enabled: false

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create