appsecurity:
  allowedOrigin: "https://ninie-io.onrender.com/"

bot:
  prefix: "!"

server:
  ssl:
    enabled: false

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create